.affilate .input-group{
    background: #F6F6F6;
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 10px;
    height: 75px;
    position: relative;
}
.affilate .input-group .input-group-prepend{
    border-right: 2px solid #C8C8C8;
}
.affilate input{
    border: none;
    border-radius: 10px !important;
}
.affilate  .form-control:focus{
    box-shadow: none;
    outline: none;
}
.affilate .form-control:active{
    box-shadow: none;
    outline: none;
}
.copy-link{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 10;
}
.copy-link button{
    width: 145px;
    height: 64px;
    background: linear-gradient(0deg, #7866FF, #7866FF), #43FF9E;
    border-radius: 16px;
    color: white;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.affilate p{
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 45px;
letter-spacing: 0em;
text-align: center;
}
.affilate p span{
    font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
}