.profile-details{
    background-color: #F6F6F6;
    border: 1px solid #D9D9D9;
}
.profile-img{
    width: 137px;
    height: 137px;
    position: relative;
}
.profile-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 75px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.add-profile{
    position: absolute;
    width: 33px;
    height: 33px;
    top: 2px;
    right: 5px;
    background-color: #A0A0A0;
    border-radius: 18px;
    cursor: pointer;
}
.add-profile img{
    width: 19px;
}
.profile-details h4{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #626262;
    padding: 10px 0px;
}

.profile-menu .list-group-item{
    background-color: transparent;
    padding: 14px 0px;
    border-width: 1px 0px 1px 0px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: #626262;
}
.profile-menu .list-group-item.item-active{
    background-color:  #C4C4C4;
}

.profile-items{
    background-color: #F6F6F6;
    border: 1px solid #D9D9D9;
}
.profile-items h5{
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #626262;
}
.change-pass{
    padding: 0px 8%;
}
.change-pass label{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #939393;
}
.change-pass input{
    background: #FFFFFF;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    height: 48px;
}
.change-pass-btn{
    background: #7866FF !important;
    color: #fff !important;
    border: 1px solid #A0A0A0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}
