.page-section .upload h5{
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #626262;
    margin-bottom: 25px;
}
.page-section .upload-details{
    border: 1px solid #ACACAC;
    padding: 30px 40px;
}

.page-section .upload-btn.active{
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.25);
    border: 1px solid #E8E8E8;
    background: #F8F8F8;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
    gap: 8px;
}
.upload-btn.active i{
    color: #42FF9E;
}
.upload-btn i{
    font-size: 32px;
}

.upload-btn{
    gap: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #E8E8E8;
    background: #F8F8F8;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
    color: #494949;
}
.display-msg-success{
    gap: 25px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
.display-msg-success h6{
    color:  #494949;
}

.file-details{
    background: #FFFFFF;
    border: 1px solid #1EB05F;
    border-radius: 10px;
    color: #1EB05F;
    padding: 8px 15px;
    width: 60%;
    position: relative;
}
.file-details i{
    position: absolute;
    top: -10px;
    right: -8px;
    background-color: #1EB05F;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
    padding: 3px;
}

.file-details-fail{
    background: #FFFFFF;
    border: 1px solid #939393;
    border-radius: 10px;
    color: #939393;
    padding: 8px 15px;
    width: 60%;
    position: relative;
}
.error-icon{
    position: absolute;
    top: -10px;
    right: -8px;
    background-color: #D91919;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
    padding: 3px;
}